<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django API Starter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <meta name="correlation_id" content="{{ correlation_id }}">
</head>
<body>
    <section class="container">
        <div class="is-size-1">
            Django API starter
        </div>
        <div class="mt-4 is-size-4">
            Starter project for Django REST API
        </div>
    </section>

</body>
</html>